json text.txt
[
    {
        "id": "abae4830.80f998",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7c4d1ff5.63d04",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": ""
    },
    {
        "id": "57110909.715fa8",
        "type": "tab",
        "label": "Flow 3",
        "disabled": true,
        "info": ""
    },
    {
        "id": "e4c06bf8.45dae8",
        "type": "tab",
        "label": "Flow 4",
        "disabled": true,
        "info": ""
    },
    {
        "id": "bce87855.d46fe8",
        "type": "ibmiot",
        "z": "",
        "name": "api key",
        "keepalive": "60",
        "serverName": "8gcey2.messaging.internetofthings.ibmcloud.com",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "bf9f3865.634798",
        "type": "ui_tab",
        "z": "",
        "name": "cargo managment",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4e63ce20.fdaca",
        "type": "ui_group",
        "z": "",
        "name": "temperature",
        "tab": "bf9f3865.634798",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4ccbafdc.1801e",
        "type": "ui_group",
        "z": "",
        "name": "humidity",
        "tab": "bf9f3865.634798",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "13e2e720.42f3a9",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f359836d.f06be",
        "type": "ui_group",
        "z": "",
        "name": "air ",
        "tab": "bf9f3865.634798",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "715996ec.4050b8",
        "type": "ui_group",
        "z": "",
        "name": "latitude",
        "tab": "bf9f3865.634798",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "92406161.edaec",
        "type": "ui_group",
        "z": "",
        "name": "longitude",
        "tab": "bf9f3865.634798",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6c94bffc.7a1b",
        "type": "ibmiot in",
        "z": "abae4830.80f998",
        "authentication": "apiKey",
        "apiKey": "bce87855.d46fe8",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "123456789",
        "applicationId": "",
        "deviceType": "ardunio",
        "eventType": "",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "d9f1fd40.4ff23",
                "39036383.26f07c",
                "5c6ef321.10731c",
                "41a1c7c6.889878",
                "eea04448.9224b8",
                "4de4cf19.cfd7f"
            ]
        ]
    },
    {
        "id": "d9f1fd40.4ff23",
        "type": "debug",
        "z": "abae4830.80f998",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 180,
        "wires": []
    },
    {
        "id": "39036383.26f07c",
        "type": "function",
        "z": "abae4830.80f998",
        "name": "temperature",
        "func": "global.set('temperature',msg.payload.temperature)\nmsg.payload=msg.payload.temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "d9f1fd40.4ff23",
                "69d6c2bf.8a345c",
                "c3b1b7c.ccc4e48"
            ]
        ]
    },
    {
        "id": "5c6ef321.10731c",
        "type": "function",
        "z": "abae4830.80f998",
        "name": "humidity",
        "func": "global.set('humidity',msg.payload.humidity)\nmsg.payload=msg.payload.humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "d9f1fd40.4ff23",
                "b0d6925b.77d3c",
                "d861dca8.f61e2"
            ]
        ]
    },
    {
        "id": "eea04448.9224b8",
        "type": "function",
        "z": "abae4830.80f998",
        "name": "latitude",
        "func": "global.set('latitude',msg.payload.latitude)\nmsg.payload=msg.payload.latitude\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 280,
        "y": 380,
        "wires": [
            [
                "d9f1fd40.4ff23",
                "ebd16c0a.1c80d",
                "beca941b.46e2c8"
            ]
        ]
    },
    {
        "id": "4de4cf19.cfd7f",
        "type": "function",
        "z": "abae4830.80f998",
        "name": "longitude",
        "func": "global.set('longitude',msg.payload.longitude)\nmsg.payload=msg.payload.longitude\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 460,
        "wires": [
            [
                "d9f1fd40.4ff23",
                "dfee477a.3662b8",
                "b46dce48.3891d"
            ]
        ]
    },
    {
        "id": "41a1c7c6.889878",
        "type": "function",
        "z": "abae4830.80f998",
        "name": "air ",
        "func": "global.set('air',msg.payload.air)\nmsg.payload=msg.payload.air \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "d9f1fd40.4ff23",
                "7ce2c76d.a6dfb8",
                "68414a9e.5981c4"
            ]
        ]
    },
    {
        "id": "69d6c2bf.8a345c",
        "type": "ui_gauge",
        "z": "abae4830.80f998",
        "name": "temperature",
        "group": "4e63ce20.fdaca",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "temperature",
        "label": "c",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "d861dca8.f61e2",
        "type": "ui_gauge",
        "z": "abae4830.80f998",
        "name": "humidity",
        "group": "4ccbafdc.1801e",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humidity",
        "label": "h",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#3900b3",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "7ce2c76d.a6dfb8",
        "type": "ui_gauge",
        "z": "abae4830.80f998",
        "name": "air ",
        "group": "f359836d.f06be",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "air ",
        "label": "g",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#00ace6",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "ebd16c0a.1c80d",
        "type": "ui_gauge",
        "z": "abae4830.80f998",
        "name": "latitude",
        "group": "715996ec.4050b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "latitude",
        "label": "l",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "dfee477a.3662b8",
        "type": "ui_gauge",
        "z": "abae4830.80f998",
        "name": "",
        "group": "92406161.edaec",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "longitude",
        "label": "lo",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 520,
        "y": 460,
        "wires": []
    },
    {
        "id": "29886d93.f72432",
        "type": "http in",
        "z": "abae4830.80f998",
        "name": "",
        "url": "/data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "fce48a44.68bbe8"
            ]
        ]
    },
    {
        "id": "8466c03f.1e5b2",
        "type": "http response",
        "z": "abae4830.80f998",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 500,
        "wires": []
    },
    {
        "id": "fce48a44.68bbe8",
        "type": "function",
        "z": "abae4830.80f998",
        "name": "",
        "func": "msg.payload={\"temperature\":global.get(\"temperature\"),\"humidity\":global.get(\"humidity\"),\"air\":global.get(\"air\"),\"latitude\":global.get(\"latitude\"),\"longitude\":global.get(\"longitude\")}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 500,
        "wires": [
            [
                "8466c03f.1e5b2"
            ]
        ]
    },
    {
        "id": "c3b1b7c.ccc4e48",
        "type": "switch",
        "z": "abae4830.80f998",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "25",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 100,
        "wires": [
            [
                "ec572a42.2c0cb8"
            ],
            [
                "d22d63bf.a8cd"
            ]
        ]
    },
    {
        "id": "ec572a42.2c0cb8",
        "type": "http request",
        "z": "abae4830.80f998",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.fast2sms.com/dev/bulk?authorization=rhP2xmBL8A3iqV9S0Joplc5wyK7Mtae4T1ksRXDjuOZfnEzIQFkJAp6qfzbv03soSFWUO9LHuwQX1dPG&sender_id=FSTSMS&message=The temperatureis high.&language=english&route=p&numbers=7995953871",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 810,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "d22d63bf.a8cd",
        "type": "http request",
        "z": "abae4830.80f998",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.fast2sms.com/dev/bulk?authorization=rhP2xmBL8A3iqV9S0Joplc5wyK7Mtae4T1ksRXDjuOZfnEzIQFkJAp6qfzbv03soSFWUO9LHuwQX1dPG&sender_id=FSTSMS&message=The temperatureis low.&language=english&route=p&numbers=7995953871",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 810,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b0d6925b.77d3c",
        "type": "switch",
        "z": "abae4830.80f998",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "25",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 320,
        "wires": [
            [
                "607ab3fb.5d028c"
            ],
            [
                "65df6bd1.093a14"
            ]
        ]
    },
    {
        "id": "607ab3fb.5d028c",
        "type": "http request",
        "z": "abae4830.80f998",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.fast2sms.com/dev/bulk?authorization=rhP2xmBL8A3iqV9S0Joplc5wyK7Mtae4T1ksRXDjuOZfnEzIQFkJAp6qfzbv03soSFWUO9LHuwQX1dPG&sender_id=FSTSMS&message=The humidityis high.&language=english&route=p&numbers=7995953871",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 810,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "65df6bd1.093a14",
        "type": "http request",
        "z": "abae4830.80f998",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.fast2sms.com/dev/bulk?authorization=rhP2xmBL8A3iqV9S0Joplc5wyK7Mtae4T1ksRXDjuOZfnEzIQFkJAp6qfzbv03soSFWUO9LHuwQX1dPG&sender_id=FSTSMS&message=The humidityis low.&language=english&route=p&numbers=7995953871",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 810,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "2eb0702b.6fdf6",
        "type": "http request",
        "z": "abae4830.80f998",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.fast2sms.com/dev/bulk?authorization=rhP2xmBL8A3iqV9S0Joplc5wyK7Mtae4T1ksRXDjuOZfnEzIQFkJAp6qfzbv03soSFWUO9LHuwQX1dPG&sender_id=FSTSMS&message=The airis high.&language=english&route=p&numbers=7995953871",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 830,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "811c86e.04a2a78",
        "type": "http request",
        "z": "abae4830.80f998",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.fast2sms.com/dev/bulk?authorization=rhP2xmBL8A3iqV9S0Joplc5wyK7Mtae4T1ksRXDjuOZfnEzIQFkJAp6qfzbv03soSFWUO9LHuwQX1dPG&sender_id=FSTSMS&message=The airis low.&language=english&route=p&numbers=7995953871",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 810,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "68414a9e.5981c4",
        "type": "switch",
        "z": "abae4830.80f998",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "25",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 200,
        "wires": [
            [
                "2eb0702b.6fdf6"
            ],
            [
                "811c86e.04a2a78"
            ]
        ]
    },
    {
        "id": "beca941b.46e2c8",
        "type": "switch",
        "z": "abae4830.80f998",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "25",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 400,
        "wires": [
            [
                "6d1c3283.3c9a9c"
            ],
            [
                "ae0daa33.a7f348"
            ]
        ]
    },
    {
        "id": "6d1c3283.3c9a9c",
        "type": "http request",
        "z": "abae4830.80f998",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.fast2sms.com/dev/bulk?authorization=rhP2xmBL8A3iqV9S0Joplc5wyK7Mtae4T1ksRXDjuOZfnEzIQFkJAp6qfzbv03soSFWUO9LHuwQX1dPG&sender_id=FSTSMS&message=The latitudeis high.&language=english&route=p&numbers=7995953871",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 810,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ae0daa33.a7f348",
        "type": "http request",
        "z": "abae4830.80f998",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.fast2sms.com/dev/bulk?authorization=rhP2xmBL8A3iqV9S0Joplc5wyK7Mtae4T1ksRXDjuOZfnEzIQFkJAp6qfzbv03soSFWUO9LHuwQX1dPG&sender_id=FSTSMS&message=The latitudeis low.&language=english&route=p&numbers=7995953871",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 790,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "cf95431e.02edc",
        "type": "http request",
        "z": "abae4830.80f998",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.fast2sms.com/dev/bulk?authorization=rhP2xmBL8A3iqV9S0Joplc5wyK7Mtae4T1ksRXDjuOZfnEzIQFkJAp6qfzbv03soSFWUO9LHuwQX1dPG&sender_id=FSTSMS&message=The longitudeis high.&language=english&route=p&numbers=7995953871",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 810,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "580eb953.8d09c8",
        "type": "http request",
        "z": "abae4830.80f998",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.fast2sms.com/dev/bulk?authorization=rhP2xmBL8A3iqV9S0Joplc5wyK7Mtae4T1ksRXDjuOZfnEzIQFkJAp6qfzbv03soSFWUO9LHuwQX1dPG&sender_id=FSTSMS&message=The longitudeis low.&language=english&route=p&numbers=7995953871",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 790,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "b46dce48.3891d",
        "type": "switch",
        "z": "abae4830.80f998",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "25",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 480,
        "wires": [
            [
                "cf95431e.02edc"
            ],
            [
                "580eb953.8d09c8"
            ]
        ]
    }
]